body {
  background-color:#1d2a35;
}
div div div:not(.noBackground) {
  background-color:#15202b;
}
::-webkit-scrollbar {
  width:10px;
}
::-webkit-scrollbar-track {
  background:#00000000;
}
::-webkit-scrollbar-thumb {
  background:#15202b;
  border-radius:5px;
}

#credentialDiv {
  display:flex;
  justify-content:space-evenly;
  text-align:center;
}
#credentialDiv input {
  width:20vw;
}
#credentialDiv p {
  margin:5px;
}

span, p {
  color:white;
  font-family:verdana;
}

input {
  color:white;
  background-color:#15202b;
  border:none;
  border-radius:10px 0;
  border-bottom:solid 1px #111111;
  box-sizing: border-box;
  padding: 5px 8px;
  outline:none;
  height:2.1vw;
}

button {
  color:white;
  background-color:#15202b;
  border:none;
  border-radius:10px 0;
  border-bottom:solid 1px #111111;
  box-sizing: border-box;
  padding: 5px 8px;
  transition: 100ms
}
button:hover {
  transform:scale(1.1);
}
button:active {
  transform:scale(0.95);
  transition:50ms;
}

.parentHeader {
  text-align:center;
  font-size:2vw;
  margin-bottom:0;
}

.dayRow {
  display:flex;
  height:9vw;
}
.lessonCell {
  width:calc(100vw/10);
  font-size:3vw;
  background-color:#00000000;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border:1px solid white;
  border-radius:5px;
  font-family:verdana;
}
.lessonCell *:not(:nth-child(2)) {
  font-size:1vw;
}
.lessonCell * {
  margin:0;
}

.subjectRow {
  display:flex;
  height:8vw;
  align-items:center;
  border:1px solid white;
  border-radius:15px 0;
  margin-bottom:20px;
  overflow-x:auto;
  overflow-y:hidden;
}
.subjectRow::-webkit-scrollbar {
  height:8px;
}
.subjectRow div:not(.markCell) {
  height:100%;
  border:1px solid white;
  aspect-ratio:1;
  text-align:center;
  font-size:3vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:white;
  font-family:verdana;
  border-radius:15px 0 0 0;
}
.subjectRow div:not(.markCell) * {margin:0;}
.subjectRow div:not(.markCell) :nth-child(n+2) {font-size:1vw;}
.markCell {
  height:100%;
  border:1px solid white;
  margin-bottom:1px;
  aspect-ratio:1;
  text-align:center;
  font-size:2vw;
  line-height:8vw;
  color:white;
  font-family:verdana;
}
.markCell:last-child {
  border-radius:0 0 15px 0;
}

#absenceEmbed {
  display:flex;
  height:8vw;
  overflow-x:auto;
  overflow-y:hidden;
}
#absenceEmbed *:nth-child(1) {
  border-radius:15px 0 0 0;
}
#absenceEmbed *:last-child {
  border-radius: 0 0 15px 0;
}
.absenceCell {
  border:1px solid white;
  aspect-ratio:1;
  height:calc(100%-1px);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-bottom:1px;
}
.absenceCell * {
  margin:0;
  font-size:2vw;
}
.absenceCell *:nth-child(2) {
  font-size:1.5vw;
}
#absenceEmbed::-webkit-scrollbar {
  height:8px;
}
#absenceCalculator {
  display:flex;
  flex-wrap:wrap;
  border:1px solid white;
  border-radius:15px;
  font-size:max(0.5em, 1vw);
  align-items:center;
}

#calculatorLabel {
  height:6.4vw;
  aspect-ratio:1;
  border:1px solid white;
  border-radius:calc(15px - 0.8vw);
  text-align:center;
  line-height:6.4vw;
  font-size:1.6vw;
  margin:.8vw;
}
#absenceTextEmbed {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-items:left;
  gap:0.5vw;
  margin:0 .8vw;
}
#absenceCalculator span {
  width:30vw;
  margin:0 auto;
}
